<main>
  <section class="show-page">
    <div class="centered-box">
      <%= image_tag 'default_cat.jpg' %>

      <h1><%= @cat.name %></h1>

      <table class="table">
        <tbody>
          <tr>
            <th>Age</th>
            <td>about <%= @cat.age %> years old</td>
          </tr>
          <tr>
            <th>Birth date</th>
            <td><%= @cat.birth_date %></td>
          </tr>
          <tr>
            <th>Color</th>
            <td><%= @cat.color %></td>
          </tr>
          <tr>
            <th>Sex</th>
            <td><%= @cat.sex %></td>
          </tr>
        </tbody>
      </table>
      
      <% if @cat.owner == current_user %>
      
        <%= link_to "Edit #{@cat.name}", edit_cat_url %>

      <% end %>

      <h2>requests</h2>
      <%= link_to "Make request", new_cat_rental_request_url %>
      <table class="table">

        <thead>
          <th>User</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Status</th>
        </thead>

        <tbody>
          <% @cat.rental_requests.order('start_date').each do |request| %>
            <%= render 'request', request: request , cat: @cat %>
          <% end %>  
        </tbody>

      </table>
      <%= link_to "Home", cats_url %>
    </div>
  </section>
</main>