<!DOCTYPE html>
<html>
  <head>
    <title>NinetynineCats</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <nav class="nav">

        <h1 class="header-logo"><%= link_to "99 Cats", cats_url %></h1>
        
        <% if current_user %>
          
          <ul class="header-user-options">
            <li><h1><%= current_user.username %></h1></li>
            <li><%= link_to "log out", session_path, method: 'delete' %></li>
          </ul>

        <% else %>
        
          <ul class="header-user-options">
            <li><a href=<%= new_session_url %>>sign in</a></li>
            <li><a href=<%= new_user_url %>>sign up</a></li>
          </ul>

        <% end %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
